.App {
  text-align: center;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(204, 41, 51);
  background-image: url("seinfeldBackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;
  background-size: 25%;
}

nav {
  display: flex;
  align-items: center;
  min-height: 6vh;
  list-style: none;
  justify-content: left;
  background: rgb(221, 220, 220);
}

nav li {
  color: rgb(204, 41, 51);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  padding: 16px;
  text-decoration: none;
}

nav li:hover {
  font-weight: 600;
}
