body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(204, 41, 51);
  /* background-image: url("seinfeldBackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;
  background-size: 20%; */
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.main {
  margin-top: 80px;
  padding-left: 10px;
}

nav {
  display: flex;
  align-items: center;
  min-height: 6vh;
  list-style: none;
  justify-content: left;
  background: rgb(221, 220, 220);
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  /* position: -webkit-sticky;
  position: sticky; */
}

nav li {
  color: rgb(204, 41, 51);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  padding: 16px;
  text-decoration: none;
}

nav li:hover {
  font-weight: 600;
}

.one-quote {
  font-size: 24px;
  text-align: center;
}

.indent-head {
  padding-left: 55px;
}

.no-bullets {
  list-style: none;
}

.button-color {
  color: rgb(204, 41, 51);
  background-color: rgb(241, 213, 77);
  border: none;
}

.button-color:hover {
  color: rgb(204, 41, 51);
  background-color: rgb(248, 207, 0);
}

/* .button-color:focus {
  color: rgb(204, 41, 51);
  background-color: blue;
} */

.button-color:active {
  background-color: rgb(248, 207, 0);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

p.center {
  text-align: center;
  font-size: 20px;
}
